<div class="container mx-auto">
    <h4 class="mt-5 text-center"><%= cashier.cashierID %></h4>
    <div class="today container mx-auto">
        <h3 ">Today</h3>

        <table id="dtBasicExample" class="table" cellspacing="0" width="100%">
            <thead class="bg-dark text-white">
              <tr>
                <th>Tickets
                </th>
                <th>WhiteBet
                </th>
                <th>Stake
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="f-string"><%= cashier.tickets %>%></td>
                <td class="f-string"><%= cashier.wb %></td>
                <td class="f-string">
                    <%= cashier.sold %>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="container mx-auto">
        <h3>History</h3>
        <div class="filter">
          <form>
            <div class="form-group">
              from <input type="date" id="date1" name="from"> to <input type="date" id="date2" name="to"> <button class="btn btn-dark"
               style="padding: 2px 5px !important; margin-top: -5px;"
              >
                >>
              </button>
            </div>
          </form>
        </div>
        <div class="table-responsive" style="overflow-x: auto;">
          <table id="dtBasicExample2" class="table" cellspacing="0" width="100%">
            <thead class="bg-dark text-white">
              <tr>
                <th></th>
                <th>Tickets
                </th>
                <th>WhiteBet
                </th>
                <th>Stake
                </th>
                <th>
                    Date
                </th>
              </tr>
            </thead>
            <tbody>
              <% history.forEach(h => { %>
                <tr>
                  <td></td>
                  <td class="f-string tickets"><%= h.tickets %></td>
                  <td class="f-string wb"><%= h.wb %></td>
                  <td class="f-string sold">
                      <%= h.sold %>
                  </td>
                  <td style="word-wrap: normal;" class="date">
                      <%= h.date %>
                  </td>
                </tr>
              <% }) %>
            </tbody>
            <tfoot class="bg-dark text-white">
                <tr>
                  <th>Total Page
                  </th>
                  <th class="total-tickets f-string">
                    0
                  </th>
                  <th class="total-wb f-string">
                    0
                  </th>
                  <th class="total-sold f-string">
                    0
                  </th>
                  <th>
                  </th>
                </tr>
            </tfoot>
          </table>
        </div>
    </div>
</div>

<script src="/js/moment.js"></script>
<script src="/_js/main.js"></script>
<script src="/_js/details.js"></script>