<div class="container mx-auto">
    <h4 class="mt-5 text-center"><%= cashier.cashierID %></h4>
    <div class="today container mx-auto">
        <h3 ">Today's Summary</h3>

        <table id="dtBasicExample1" class="table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th># of Tickets
                </th>
                <th>White Bet
                </th>
                <th>Sold
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= cashier.tickets %>%></td>
                <td>(N)<%= cashier.wb %></td>
                <td>
                    (N)<%= cashier.sold %>
                </td>
              </tr>
            </tbody>
            <tfoot>
                <tr>
                <th># of Tickets
                </th>
                <th>Current White Bet
                </th>
                <th>Sold
                </th>
              </tr>
            </tfoot>
          </table>
    </div>
    <div class="container mx-auto">
        <h3>History</h3>
        <div class="table-responsive" style="overflow-x: auto;">
          <table id="dtBasicExample1" class="table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Tickets
                </th>
                <th>WhiteBet
                </th>
                <th>Sold
                </th>
                <th>
                    Date
                </th>
              </tr>
            </thead>
            <tbody>
              <% cashier.history.reverse().forEach(h => { %>
                <tr>
                  <td><%= h.tickets %>%></td>
                  <td>(N)<%= h.wb %></td>
                  <td>
                      (N)<%= h.sold %>
                  </td>
                  <td style="word-wrap: normal;">
                      <%= new Date(h.date).toLocaleDateString() %>
                  </td>
                </tr>
              <% }) %>
            </tbody>
            <tfoot>
                <tr>
                <th># of Tickets
                </th>
                <th>WhiteBet
                </th>
                <th>Sold
                </th>
                <th>Date</th>
              </tr>
            </tfoot>
          </table>
        </div>
    </div>
</div>