<div class="container">
    <h3 class="text-center mt-5">Enaland Bet9ja Cashiers</h3>
    <div>
      <div >
        <a href="/" class="btn btn-info mb-2">Refresh
        <i class="fas fa-redo-alt"></i>
        </a>
      </div>
        <div class="table-responsive">
          <table class="table" cellspacing="0" width="100%">
            <thead>
              <tr class="bg-dark text-white">
                <th>ID
                </th>
                <th>WhiteBet
                </th>
                <th>Tickets
                </th>
                <th>Stake
                </th>
                <th>Last Updated
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <% cashiers.forEach( cashier => {%>
                <tr>
                  <td><%= cashier.cashierID %></td>
                  <td class="f-string"><%= cashier.wb %></td>
                  <td class="f-string"><%= cashier.tickets %></td>
                  <td class="f-string"><%= cashier.sold %></td>
                  <td class="f-string"><%= cashier.tickets > 0 ? new Date(cashier.tickets.reverse()[0].date).toLocalDateString() : "No update" %></td>
                  <td>
                    <a href="/detail/<%=cashier.cashierID%>" class="btn btn-info">more</a>
                  </td>
                </tr>
              <%})%>
              <tr class="bg-dark text-white footer">
                <td>Total</td>
                <td class="f-string"><%= whiteBet %></td>
                <td class="f-string"><%= tickets %></td>
                <td class="f-string"><%= sold %></td>
                <td>
                </td>
                <td></td>
              </tr>

            </tbody>
          </table>
        </div>
    </div>
</div>

<script src="/_js/main.js"></script>
