<div class="container">
    <h3 class="text-center mt-5">Enaland Bet9ja Cashiers</h3>
    <div>
      <div >
        <a href="/" class="btn btn-info mb-2">Refresh</a>
      </div>
        <div class="table-responsive">
          <table class="table" cellspacing="0" width="100%">
            <thead>
              <tr class="bg-dark text-white">
                <th>ID
                </th>
                <th>WhiteBet
                </th>
                <th>Tickets
                </th>
                <th>Sold
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <% cashiers.forEach( cashier => {%>
                <tr>
                  <td><%= cashier.cashierID %></td>
                  <td><%= cashier.wb %></td>
                  <td><%= cashier.tickets %></td>
                  <td><%= cashier.sold %></td>
                  <td>
                    <a href="/detail/<%=cashier.cashierID%>" class="btn btn-info">more</a>
                  </td>
                </tr>
              <%})%>
              <tr class="bg-dark text-white">
                <td>Total</td>
                <td><%= whiteBet %></td>
                <td><%= tickets %></td>
                <td><%= sold %></td>
                <td></td>
              </tr>

            </tbody>
          </table>
        </div>
    </div>
</div>